{% extends 'index/base.html'%}
{% load crispy_forms_tags %}

{% block title %}
Редактирование ответов
{% endblock %}

{% block body %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}

         {{ answers.management_form | safe }}
        <hr>

        {% for answer_form in answers.forms %}

            {{ answer_form.as_table }}<br>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Сохранить">
    </form>
{% endblock %}