{% extends 'index/base.html'%}

{% block title %}
Курсы
{% endblock %}
{% block body %}

<h1>Курсы</h1>
<div class="row">
  {% for course in object_list %}
  <div class="col-sm-6">
      <div class="card flex-fill">
        <div class="embed-responsive embed-responsive-4by3">
          <img class="card-img-top embed-responsive-item img-thumbnail" src="{{ course.title_image.url }}" alt="Card image cap" style="width:100%">
        </div>
        <div class="card-body d-flex flex-column">
          <h4 class="card-title font-weight-bold mb-2">{{ course.title }}</h4>
              <p class="card-text">{{ course.overview|safe }}</p>
          <p class="card-text"><small class="text-muted">{{ course.update_date }}</small></p>
          <a href="{% url 'courses:course_detail' course.id %}" class="btn btn-primary mt-auto ">Go detail</a>
        </div>
      </div>
  </div>

  {% empty %}
  <div class="col-12">
    <div class="alert alert-info" role="alert">
      Список курсов пуст
    </div>
  </div>


  {% endfor %}
</div>
{% endblock %}

