

{% load user_filter %}
    <!-- Sidebar -->

    {% if course.module_set %}
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Модули курса </div>
      <div class="list-group list-group-flush">
              {% for class_module in course.module_set.all %}
                  <a href="{% url 'courses:module_detail' class_module.id %}" class="list-group-item list-group-item-action bg-light
                      {% if class_module == module %}disabled{% endif %}">
                      {{ class_module }}
                  </a>
              {% if class_module.moduletest %}
                  <a href="{% url 'courses:module_test' class_module.moduletest.id %}" class="list-group-item list-group-item-action bg-light">{{ class_module.moduletest.title }}
                      {% with test_status=class_module.moduletest.studentmoduleteststatus_set.all|filter_for_user:user %}
                      {% if test_status.get.passed %}

                      <span class="badge badge-success badge-pill">пройден</span>
                      {% else %}

                      <span class="badge badge-primary badge-pill">не пройден</span>
                      {% endif %}
                      {% endwith %}
                  </a>
              {% endif %}

              {% endfor %}

          {% if user.is_staff %}
          <a href="#" class="list-group-item list-group-item-action bg-light">

              Добавить модуль
          </a>
          {% endif%}
      </div>
    </div>
    {% endif %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

    <!-- /#page-content-wrapper -->




