{% extends 'students/base.html' %}

{% load static %}


{% block style %}

{% endblock %}

{% block title %}
  Вход
{% endblock %}

{% block body %}

<div class="box">
  <form class="form-horizontal box-form" action='' method="POST">
      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for error in form.non_field_errors %}
          {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    <fieldset>
      <div id="legend">
        <legend class="">Вход</legend>
      </div>
      {% for field in form %}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
      <div class="control-group">
        <div class="controls">
          {{ field }}
        </div>
      </div>
      {% endfor %}

      <div class="control-group">

        {% csrf_token %}
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success">Вход</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>


{% endblock %}